checkpoint/
wandb/
**/__pycache__/**
model/backbone/__pycache__
lightning_logs/
lib/*
vis/
.ipynb_checkpoints/
*.pickle
*.txt
*.sh
*.ipynb
*.pcd
/outputs
*.sh
*.obj
*.ply
ipynb/
test*/
*.png
GARF/
visualize_correspondence/
torch-batch-svd/